<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout</string>
	<key>CFBundleName</key>
	<string>Bosnian</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Bosnian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout.bosnian</string>
		<key>TISIntendedLanguage</key>
		<string>bs</string>
	</dict>
	<key>KLInfo_Bosnian - Cyrillic</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout.bosnian-cyrillic</string>
		<key>TISIntendedLanguage</key>
		<string>bs</string>
	</dict>
	<key>KLInfo_Bosnian - PC</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout.bosnian-pc</string>
		<key>TISIntendedLanguage</key>
		<string>bs</string>
	</dict>
	<key>KLInfo_Bosnian - QWERTY PC</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout.bosnian-qwertypc</string>
		<key>TISIntendedLanguage</key>
		<string>bs</string>
	</dict>
	<key>KLInfo_Bosnian - QWERTZ</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout.bosnian-qwertz</string>
		<key>TISIntendedLanguage</key>
		<string>bs</string>
	</dict>
	<key>KLInfo_Bosnian - U.S.</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout.bosnian-u.s.</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Bosnian - U.S. International - PC</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.bosnianmacoskeyboardlayout.bosnian-u.s.international-pc</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
